$blue: #316099;
$font:'Open Sans', sans-serif;
$font-color: #1F3F68;
$font2: 'Stint Ultra Condensed', cursive;
$font3:'Open Sans', sans-serif;
body{
  display: flex;
  flex-direction: column;
  font-family: $font;
}
.white-content {
    background: #e4e4e4;
  }